.c-label {
    @include ms-respond(font-size, -1);
    font-family: $font-heading;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.c-label--small {
	@include ms-respond(font-size, -2);
	letter-spacing: 0.075em;
}
