.c-avatar {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3rem;
	height: auto;

	position: relative;
	background: color-get(grey, light);
	border-radius: 100%;
	overflow: hidden;
	& > * { width: 100%; }
}

.c-avatar--tagged {
	border: $baseline solid color-get(victim);
}
