.c-chatlist {
	@extend .o-media;
	width: 100%;
	flex-direction: column;

	& > * { width: 100%; }

	background: color-get(white);
}

.c-chatlist__info {
	@extend .o-media, .o-media--middle;
	padding: sp(-16) sp(-40);

	background: color-get(bg, light);
	border-bottom: 1px solid darken(color-get(bg, light), 10);
}

.c-chatlist__list {
	flex: 1;
	width: 100%;
	overflow-y: scroll;
}

.c-chatlist__notification {
	@extend .c-label, .c-label--small;
	padding: sp(-20) sp(-40);
	text-align: center;

	span {
		display: inline-block;
		padding: 0 sp(-16);

		position: relative;
		z-index: 1;
		color: color-get(grey);
		background: color-get(white);
	}

	position: relative;
	&::after {
		content: '';
		height: 1px;

		position: absolute;
		left: 0; right: 0;
		top: 50%;
		transform: translateY(-50%);
		background: currentColor;
		opacity: 0.1;
	}

	@include iota-breakpoint(sm) {
		&::after { left: sp(-40); right: sp(-40); }
	}
}

.c-chatlist__message {
	@extend .o-media;
	padding: sp(-28) sp(-40);
	position: relative;
}

.c-chatlist__chatbar {
	@extend .o-media, .o-media--middle;
	box-shadow: 0 -#{$baseline} 16px rgba(black, 0.1);

	input[type='text'] {
		@include ms-respond(font-size, 0);
		padding: sp(-24) sp(-32);
		flex: 1;

		&::placeholder {
			color: color-get(grey);
		}
	}
}
