// technically not base elem,
// but put just for conveience
#app {
	@extend .o-container;
	width: 100%;
	height: 100%;

	@include iota-breakpoint(sm) {
		padding: 1rem;
	}
	@include iota-breakpoint(md) { max-height: 90vh; }
}

body {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 100vh;

	background: color-get(bg);
}

